<div id="userTemplate">
   <%= render partial: "shared/single_user", locals: { user: @user } %>
   <div id="bio">
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
   </div>
 
<% @posts.each do |post| %>
     <%= render partial: "shared/single_post", locals: { post: post } %>
<% end %>
<%= button_to "See all posts", { action: "index", controller: "posts"},  method:'get' %>
 </div>

