<div id="singleUser">
      <img src="<%= user.photo%>" alt="photo"/>
      <div id="userInfo">
        <h3><%= user.name %></h3>
        <label >Number of posts: <%= user.post_counter %><label/>
      </div>
</div>