/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#singleUser,
#postHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#singleUser > img {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  margin: 2px;
}

#userInfo {
  border: 1px solid black;
  display: flex;
  height: 60px;
  width: 250px;
  margin: 2px;
  align-items: center;
  justify-content: space-around;
}

#bio,
#singlePost,
#commentsSection {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 308px;
  padding: 5px;
  margin-bottom: 5px;
}

.post_title {
  margin: 5px 0;
  text-align: left;
}

.counters {
  text-align: right;
}

#userTemplate,
#postTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 20px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

input[type='text'] {
  margin: 20px;
}

input[type='submit'] {
  margin: 30px;
}
